<div class="c7 bg-white border-radius-1 overflow-hidden">
  <div class="row bg-grey padding-1 justify-space-between align-center no-wrap">
    <h3 class="">
      <i class="icon-lock-alt"></i>Cancela tu Pedido de Manera Segura
    </h3>
    <button class="button btn-rounded btn-white" (click)="closeModal()">
      <i class="icon-cancel"></i>
    </button>
  </div>

  <div class="row padding-1 no-wrap phone-wrap">
    <div class="c6 border-1 border-grey border-radius-1 margin-1 overflow-hidden padding-x-1">
      <div
        class="row border-bottom-1 border-grey justify-space-between padding-y-1 align-center"
      >
        <h3>Detalles del Cliente</h3>
        <i class="icon-user-o"></i>
      </div>

      <div class="row h-100">
        <div class="c12 justify-space-between h-auto">
          <div class="row">
            <div class="c12">
              <div class="input-group-column">
                <label for="">Correo</label>
                <input type="text" name="" id="" />
              </div>
              <div class="input-group-column">
                <label for="">Tipo de Documento</label>

                <select name="" id="">
                  <option value="">DNI</option>
                </select>
              </div>
              <div class="input-group-column">
                <label for="">Número de Documento</label>
                <input type="text" name="" id="" />
              </div>
            </div>
          </div>

          <div class="row no-wrap margin-y-1">
            <div class="c12">
              <img src="./assets/img/proteccion.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="c6 border-1 border-grey border-radius-1 margin-1 overflow-hidden">
      <div
        class="row border-bottom-1 border-platinum padding-1 bg-dark justify-space-between align-center"
      >
        <h3 class="text-white">Detalles de Tarjeta</h3>
        <i class="icon-credit-card text-white"></i>
      </div>

      <div class="row padding-x-1">
        <div class="c12">
          <div class="input-group-column">
            <label for="">Títular de Tarjeta</label>
            <input type="text" name="" id="" />
          </div>
          <div class="input-group-column">
            <label for="">Número de Tarjeta</label>

            <input type="text" name="" id="" />
          </div>

          <div class="row justify-between">
            <div class="c6">
              <div class="input-group-column margin-r-1">
                <label for="">Mes/Año</label>
                <input type="text" name="" id="" />
              </div>
            </div>

            <div class="c6">
              <div class="input-group-column">
                <label for="">CVV</label>
                <input type="text" name="" id="" />
              </div>
            </div>
          </div>

          <div class="input-group-column">
            <label for="">Cuotas</label>
            <input type="number" name="" id="" />
          </div>

          <div class="row margin-y-1">
            <button class="button btn-dark w-100 font-size-1 padding-1">
              <i class="icon-money"></i> Pagar Ahora
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
