.border-1{border-width: 1px;
    border-style: solid;}

.border-2{border-width: 2px;
    border-style: solid;}



.border-bottom-1{
    border-width: 0px;
            border-bottom: 1px;
                border-style: solid;
               }    


.border-top-1{
    border-width: 0px;
            border-top: 1px;
                border-style: solid;
               }   


.border-left-1{
    border-width: 0px;
            border-left: 1px;
                border-style: solid;
               }   


.border-right-1{
    border-width: 0px;
            border-right: 1px;
                border-style: solid;
               }  


.border-platinum{border-color: $platinum;}
.border-grey{border-color: $grey;}


.border-radius-1{border-radius: 0.5rem;}

.border-radius-top-1{border-radius: 0.5rem 0.5rem 0rem 0rem;}

.border-radius-2{border-radius: 0.8rem;}

.border-radius-3{border-radius: 1rem;}


.border-none{border: none;}