* {
  box-sizing: border-box;
  text-decoration: none;
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
.rounded-pill {
  border-radius: 50rem !important;
}
.badge-checkout {
  border-radius: 50rem;
  text-align: center;
  width: 65px;
  padding-right: 10px;
  padding-left: 10px;
}
.div-center {
  justify-content: center;
  align-items: center;
}

button,
input {
  outline: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-title {
  font-size: 1.25rem;
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.text-center {
  text-align: center;
}
.table {
  width: 100%;
}
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
