
.micro-padding{padding: 0.3rem;}

.padding-1{padding: 1rem;}
.padding-2{padding: 2rem;}
.padding-3{padding: 3rem;}
.padding-4{padding: 4rem;}
.padding-5{padding: 5rem;}



.padding-x-1{padding-left: 1rem;
            padding-right: 1rem;}
.padding-x-2{padding-left: 2rem;
            padding-right: 2rem;}
.padding-x-3{padding-left: 3rem;
            padding-right: 3rem;}
.padding-x-4{padding-left: 4rem;
            padding-right: 4rem;}    
.padding-x-5{padding-left: 5rem;
            padding-right: 5rem;}

.micro-padding-x{padding-left: 0.3rem;
                 padding-right: 0.3rem;}

    

.padding-y-1{padding-top: 1rem;
            padding-bottom: 1rem;}
.padding-y-2{padding-top: 2rem;
            padding-bottom: 2rem;}
.padding-y-3{padding-top: 3rem;
            padding-bottom: 3rem;}
.padding-y-4{padding-top: 4rem;
            padding-bottom: 4rem;}    
.padding-y-5{padding-top: 5rem;
            padding-bottom: 5rem;}

.micro-padding-y{padding-top: 0.3rem;
                 padding-bottom: 0.3rem;}




@media(max-width:990px){


    
.tablet-micro-padding{padding: 0.3rem;}

.tablet-padding-1{padding: 1rem;}
.tablet-padding-2{padding: 2rem;}
.tablet-padding-3{padding: 3rem;}
.tablet-padding-4{padding: 4rem;}
.tablet-padding-5{padding: 5rem;}



.tablet-padding-x-1{padding-left: 1rem;
            padding-right: 1rem;}
.tablet-padding-x-2{padding-left: 2rem;
            padding-right: 2rem;}
.tablet-padding-x-3{padding-left: 3rem;
            padding-right: 3rem;}
.tablet-padding-x-4{padding-left: 4rem;
            padding-right: 4rem;}    
.tablet-padding-x-5{padding-left: 5rem;
            padding-right: 5rem;}

.tablet-micro-padding-x{padding-left: 0.3rem;
                 padding-right: 0.3rem;}

    

.tablet-padding-y-1{padding-top: 1rem;
            padding-bottom: 1rem;}
.tablet-padding-y-2{padding-top: 2rem;
            padding-bottom: 2rem;}
.tablet-padding-y-3{padding-top: 3rem;
            padding-bottom: 3rem;}
.tablet-padding-y-4{padding-top: 4rem;
            padding-bottom: 4rem;}    
.tablet-padding-y-5{padding-top: 5rem;
            padding-bottom: 5rem;}

.tablet-micro-padding-y{padding-top: 0.3rem;
                 padding-bottom: 0.3rem;}




}




@media(max-width:580px){

    .phone-padding-none{padding: none  }
    
.phone-micro-padding{padding: 0.3rem;}

.phone-padding-1{padding: 1rem;}
.phone-padding-2{padding: 2rem;}
.phone-padding-3{padding: 3rem;}
.phone-padding-4{padding: 4rem;}
.phone-padding-5{padding: 5rem;}



.phone-padding-x-1{padding-left: 1rem;
            padding-right: 1rem;}
.phone-padding-x-2{padding-left: 2rem;
            padding-right: 2rem;}
.phone-padding-x-3{padding-left: 3rem;
            padding-right: 3rem;}
.phone-padding-x-4{padding-left: 4rem;
            padding-right: 4rem;}    
.phone-padding-x-5{padding-left: 5rem;
            padding-right: 5rem;}

.phone-micro-padding-x{padding-left: 0.3rem;
                 padding-right: 0.3rem;}

    

.phone-padding-y-1{padding-top: 1rem;
            padding-bottom: 1rem;}
.phone-padding-y-2{padding-top: 2rem;
            padding-bottom: 2rem;}
.phone-padding-y-3{padding-top: 3rem;
            padding-bottom: 3rem;}
.phone-padding-y-4{padding-top: 4rem;
            padding-bottom: 4rem;}    
.phone-padding-y-5{padding-top: 5rem;
            padding-bottom: 5rem;}

.phone-micro-padding-y{padding-top: 0.3rem;
                 padding-bottom: 0.3rem;}




}
