



.w-25{width:25%}
.w-50{width:50%}
.w-75{width:75%}
.w-100{width:100%}






@media (max-width: 990px ){

    .tablet-w-25{
                width: 25%}
    .tablet-w-50{
                width: 50%}
    .tablet-w-75{
                width: 75%}        
    .tablet-w-100{
                width: 100%}    

}


@media (max-width: 580px){


    .phone-w-25{
                width: 25%}
    .phone-w-50{
                width: 50%}
    .phone-w-75{
                width: 75%}        
    .phone-w-100{
                width: 100%}  
    


}

